<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <h3 class='lead'>Daftar KRS&nbsp;&nbsp;<%#= link_to 'Buat KRS', new_choose_electrical_subject_path, class:'btn btn-default' %></h3>
      <table class='table table-hover table-striped'>
        <thead>
          <tr>
            <th>Semester</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @choose_electrical_subjects.each do |choose| %>
            <tr>
              <td><%=  link_to "#{choose.studiyear.name} #{choose.studiyear.even_odd} #{choose.studiyear.status ? 'aktif' : ''}", admin_user_choose_electrical_subject_path(current_user, choose) %></td>
              <td><%= link_to 'Edit', edit_admin_user_choose_electrical_subject_path(choose), class:'btn btn-warning' %>&nbsp;&nbsp;<%#= link_to 'Destroy', choose, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>
