<div class="container">
  <div class="row">
    <h3 class="lead">Tambah Kurikulum Teknik Sipil</h1>

    <%= render 'form' %>

    <%= link_to 'Kembali', admin_civil_subjects_path %>

  </div>
</div>
