<% if params[:controller] == "registrations" && params[:action] == "new" %>
<div class="col-sm-4">
  <div class="row">
    <div class="panel panel-success panel-hover">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <div class="panel-title">
              Syarat Pendaftaran!
          </div>
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Biaya Pendaftaran Sebesar Sekali Bayar Rp. 250.000,-</li>
          <li class="list-group-item">Biaya SPP persemester Rp. 1.500.000,-</li>
          <li class="list-group-item">Biaya Database Online Sekali Bayar Rp. 300.000,-</li>
          <li class="list-group-item">Biaya Jas Almamater Sekali Bayar Rp. 110.000,-</li>
          <li class="list-group-item">Biaya Kartu Mahasiswa Pertahun Rp. 50.000,-</li>
          <li class="list-group-item">Fotocopy Ijazah SMU/Sederajat legalisir</li>
          <li class="list-group-item">Fotocopy Transkrip Nilai SMU/Sederajat legalisir</li>
          <li class="list-group-item">Pas Photo 3x4 warna/hitam putih 2 lembar</li>
        </ul>
      </div>
  </div>

  <div class="row">
    <div class="panel panel-warning panel-hover">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <div class="panel-title">
              Waktu Pendaftaran!
          </div>
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Pendaftaran Dari 2 Mei - 30 Agustus 2016</li>
          <li class="list-group-item">Ujian Masuk 5 September 2016</li>
          <li class="list-group-item">Pengumuman Kelulusan 7 September 2016</li>
          <li class="list-group-item">Pendaftaran Ulang 7 - 20 September 2016</li>
          <li class="list-group-item">Kuliah Perdana 26 September 2016</li>
        </ul>
      </div>
  </div>

</div>
<% end %>
