<h3 class="lead">Aturan Perkuliahan</h3>
<ul>
  <li>Mahasiswa Tidak Diperkenankan Keluar Masuk Saat Perkuliahan Sedang Berlangsung</li>
  <li>Mahasiswa Tidak Boleh Makan Dan Minum Saat Perkuliahan Sedang Berlangsung</li>
  <li>Mahasiswa Tidak Boleh Memakai Sandal Jepit Dan Baju Kaos Pada Saat Perkuliahan Sedang Berlangsung</li>
  <li>Mahasiswa Tidak Boleh Gondrong</li>
</ul>
