
<h3 class="lead">Struktural ISTPI</h1>

<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Jabatan</th>
      <th>NIP</th>
      <th>NIDN</th>
    </tr>
  </thead>

  <tbody>
    <% @functional_structurals.each do |functional_structural| %>
      <tr>
        <td><%= link_to functional_structural.name, functional_structural %></td>
        <td><%= functional_structural.jabatan %></td>
        <td><%= functional_structural.nip %></td>
        <td><%= functional_structural.nidn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
