<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div id="title">
        <div class="hidden-xs col-sm-4 col-md-3">
            <%= image_tag("logo_istpi_copy.png")%>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <h2>Selamat Datang Di Website Resmi Kami</h2>
          <br>
          <p class="lead">IST-PI Makassar Membuka Tahun Ajaran Baru 2016 - 2017</p>
          
          <%= link_to "Daftar Sekarang", new_calon_mahasiswa_path, class: 'btn btn-danger btn-lg btn_title' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class= "visi_misi">

      </div>
    </div>
  </div>
</div>
