#head_body{
  padding: 10px 0 10px 0px !important;
  img{
    width: 85%;
    padding-right: 0px !important;
  }
  #text_logo{
    font-size: 10px;
    font-weight: bold;
    margin: 0 0 4px 0;
    padding-left: 0px !important;
  }
}

.btn{
  border-radius: 0px;
}

.well{
  border-radius: 0px;
}

// search form
.search-form input[type='text']{
  border-radius:0px;
  margin-top: 9px;
  height: 34px;
}
.search-form .form-group{
  display:inline-block;
  margin:9px 0px 16px 0;
  vertical-align: middle;
}

.search-form .btn{
  border: 0px;
  border-radius:0px;
  margin:18px 16px 16px -5px;

  height: 34px;
}
// end of search form
