<div class="container">
  <div class="row">
    <h3 class="lead">Edit Kurikulum Teknik Elektro</h1>

    <%= render 'form' %>

    <%= link_to 'Kembali', admin_electrical_subjects_path %>

  </div>
</div>
