
.jadwal_kuliah_pdf{
  img{
    width: 50%;
  }
}
#title{
margin: 5%;
      .btn_title{
        border-radius: 0px;
      }
        img{
          width: 100%;
        }
}

#head_body{
  padding: 10px 0 10px 0px !important;
  img{
    width: 85%;
    padding-right: 0px !important;
  }
  #text_logo{
    font-size: 10px;
    font-weight: bold;
    margin: 0 0 4px 0;
    padding-left: 0px !important;
  }
}

.btn{
  border-radius: 0px;
}

.well{
  border-radius: 0px;
}

// search form
.search-form input[type='text']{
  border-radius:0px;
  margin-top: 0px;
  height: 34px;
}
.search-form .form-group{
  display:inline-block;
  margin:16px 0px 16px 0;
  vertical-align: middle;
}

.search-form .btn{
  border: 0px;
  border-radius:0px;
  margin:16px 16px 16px -5px !important;

  height: 34px !important;
}
// end of search form
